<?xml version="1.0"?>

<robot>
  <link name="pole_left_link">  
    <visual>  
       <origin xyz="0 0 0.1" rpy="0 0 0" /> 
       <material name="light_black">
         <color rgba="0.95 0.95 0.95 1.0"/>
       </material>
       <geometry>  
         <cylinder radius="0.003" length="0.09"/>  
       </geometry>  
    </visual>  
  
    <collision>  
       <origin xyz="0 0 0.1" rpy="0 0 0" />  
       <geometry>  
         <cylinder radius="0.003" length="0.09"/>  
       </geometry>  
    </collision>  
  
    <inertial>  
      <mass value="0.001"/>  
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>  
    </inertial>  
  </link>  

  <joint name="pole_left_joint" type="fixed">  
    <parent link="base_link"/>  
    <child link="pole_left_link" />  
    <origin xyz="-0.008 -0.064 0.08" rpy="0 0 0" />  
  </joint>

  <link name="pole_right_link">  
    <visual>  
       <origin xyz="0 0 0.1" rpy="0 0 0" /> 
       <material name="light_black">
         <color rgba="0.95 0.95 0.95 1.0"/>
       </material>
       <geometry>  
         <cylinder radius="0.003" length="0.09"/>  
       </geometry>  
    </visual>  
  
    <collision>  
       <origin xyz="0 0 0.1" rpy="0 0 0" />  
       <geometry>  
         <cylinder radius="0.003" length="0.09"/>  
       </geometry>  
    </collision>  
  
    <inertial>  
      <mass value="0.001"/>  
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>  
    </inertial>  
  </link>  

  <joint name="pole_right_joint" type="fixed">  
    <parent link="base_link"/>  
    <child link="pole_right_link" />  
    <origin xyz="-0.008 0.064 0.08" rpy="0 0 0" />  
  </joint>


  <link name="mountplate_link">  
    <visual>  
       <origin xyz="0 0 0.1" rpy="0 0 0" /> 
       <material name="orange">
         <color rgba="0.95 0.0 0.0 1.0"/>
       </material>
       <geometry>  
         <box size="0.062 0.135 0.01"/>  
       </geometry>  
    </visual>  
  
    <collision>  
       <origin xyz="0 0 0.1" rpy="0 0 0" />  
       <geometry>  
         <box size="0.062 0.125 0.01"/>  
       </geometry>  
    </collision>  
  
    <inertial>  
      <mass value="0.001"/>  
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>  
    </inertial>  
  </link>  

  <joint name="mountplate_joint" type="fixed">  
    <parent link="pole_right_link"/>  
    <child link="mountplate_link" />  
    <origin xyz="-0.008 -0.064 0.05" rpy="0 0 0" />  
  </joint>

<!-- Gazebo properties -->

  <gazebo reference="pole_left_link">
    <material>Gazebo/Grey</material>
  </gazebo>


  <gazebo reference="pole_right_link">
    <material>Gazebo/Grey</material>
  </gazebo>


  <gazebo reference="mountplate_link">
    <material>Gazebo/Orange</material>
  </gazebo>

</robot>
